body {
  font-family: "helvetica", sans-serif;
  text-align: right;
  background-color:#C2F9BB;

}

img {
  border: 5px solid #555;
  width: auto;
  height: auto;
  object-fit: cover;
  float: left;
  clear: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
