html, body {
   min-height: 100%;
}
body, div, form, input, select, p {
padding: 0;
margin: 0;
outline: none;
         font-family: Roboto, Arial, sans-serif;
         font-size: 14px;
color: #666;
       line-height: 22px;
}
h1 {
position: absolute;
margin: 0;
        font-size: 50px;
color: #fff;
       z-index: 2;
}
h2 {
   font-weight: 400;
}
.testbox {
display: flex;
         justify-content: center;
         align-items: center;
height: inherit;
padding: 20px;
}
.textarea {
      font-size: 22px;
      height: auto;
}
form {
width: 100%;
padding: 20px;
         border-radius: 6px;
background: #fff;
            box-shadow: 0 0 20px 0 #095484;
}
.banner {
position: relative;
height: 200px;
        background-size: cover;
display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
}
.banner::after {
content: "";
         background-color: rgba(0, 0, 0, 0.4);
position: absolute;
width: 100%;
height: 100%;
}
input, select {
   margin-bottom: 10px;
border: 1px solid #ccc;
        border-radius: 3px;
}
input {
width: calc(100% - 10px);
padding: 5px;
}
select {
width: 100%;
padding: 7px 0;
background: transparent;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
color: #095484;
}
.item input:hover, .item select:hover {
border: 1px solid transparent;
        box-shadow: 0 0 6px 0 #095484;
color: #095484;
}
.item {
position: relative;
margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
position: absolute;
          font-size: 20px;
color: #a9a9a9;
}
.item i {
right: 2%;
top: 30px;
     z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
right: 1%;
       z-index: 2;
opacity: 0;
cursor: pointer;
}
input[type=checkbox]  {
display: none;
}
label.check {
position: relative;
display: inline-block;
margin: 5px 20px 10px 0;
cursor: pointer;
}
.question span {
   margin-left: 30px;
}
span.required {
   margin-left: 0;
color: red;
}
label.check:before {
content: "";
position: absolute;
top: 2px;
left: 0;
width: 16px;
height: 16px;
        border-radius: 2px;
border: 1px solid #095484;
}
input[type=checkbox]:checked + .check:before {
background: #095484;
}
label.check:after {
content: "";
position: absolute;
top: 6px;
left: 4px;
width: 8px;
height: 4px;
border: 3px solid #fff;
        border-top: none;
        border-right: none;
transform: rotate(-45deg);
opacity: 0;
}
input[type=checkbox]:checked + label:after {
opacity: 1;
}
.btn-block {
   margin-top: 10px;
   text-align: center;
}
button {
width: 150px;
padding: 10px;
border: none;
        border-radius: 5px;
background: #095484;
            font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background: #0666a3;
       }
@media (min-width: 568px) {
   .name-item, .city-item {
display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
   }

   .name-item input, .city-item input {
width: calc(50% - 20px);
   }

   .city-item select {
width: calc(50% - 8px);
   }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  margin: 20px auto;
  text-align: center;
}

.card {
    background: #ffffff;
    height: auto;
    width: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 0;
    font-weight: 700;
    border: none;

}

/* Name */

.name {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    position: relative;
    font-size: 1.1em;
}

.name > p {
    font-size: 1.5em;
}

.divider {
    position: relative;
    display: block;
    width: 30%;
    opacity: 0;
    margin: 0 auto;
    height: 10px;
    background: #c4c5c4;
}

.stats {
    color: #c1c1c1;
    height: auto;
    position: relative;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    font-size: .9em;
}

.stats td {
    padding: 0.25rem .25em .35rem .5rem;
}

.stats td:first-child {
    font-size: 1.5rem;
    display: block;
    text-align: right;
    font-weight: 400;

}

.stats td:last-child {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    top: .1rem;
}

.numbers {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.btn {
    text-align: center;
}

a.btn {
        color: #fffffa;
        text-decoration: none;
}

a.btn:hover {
    text-decoration: none;
}

a.btn-follow:active {
    border-bottom: none;
    border-top: 1px solid #006D59;
    background: #00896E;
}

.btn-follow {
    background: #00936E;
    height: 38px;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    font-size: 1.2em;
    bottom: 1.25em;
    font-weight: 700;
    border-radius: 2px;
    border-bottom: 1px solid #006D59;
}

a.btn-follow {
    color: white !important;
}

.mfp-content {
  display: inline-flex;
  align-items: center;
  height: auto;
}

