body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  background-color:#FAEACB;

}

img {
  border: 5px solid #555;
  width: 400px;
  height: 600px;
  margin-bottom: 5px;
  margin-right: 5px;
}
