body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

img {
  border: 5px solid #555;
  width:  600px;
  height: 400px;
  object-fit: cover;
  float: left;
  clear: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
